.icon {
    margin-bottom: 25px;

    img {
        max-width: 45px;
        max-height: 45px;
    }

    &-title {
        font-size: 24px;
        font-weight: 500;
        line-height: 28px;
        margin-bottom: 15px;

        @media (max-width: 1366px) {
            font-size: 22px;
            line-height: 26px;
        }
    }

    &-content {
        color: $gray-100;
        width: 69%;

        @media (max-width: 1366px) {
            width: 87%;
        }

        span {
            a {
                color: $gray-100;

            &:hover {
                color: $dark;
            }
            }
        }
    }
}