@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);

// Base
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
    font-size: 18px;
    line-height: 27px;
    color: $dark;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;

    @media (max-width: 992px) {
      font-size: 15px;
      line-height: 24px;
    }

  &,
  html {
    scroll-behavior: smooth;
  }
}

a {
  text-decoration: none;
}

ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.w {
  &-90 {
    width: 90%;

    @media (max-width: 992px) {
      width: 100%;
    }
  }

  &-70 {
    width: 70%;

    @media (max-width: 992px) {
      width: 100%;
    }
  }
}

.flex-column-reverse-md {
  @media (max-width: 990px) {
    flex-direction: column-reverse;
  }
}